<div id="split_display_with_image" class='panel'>
  <div class='image'>
    <p class='attributes_list_attr_name'>Book image</p>
    <%= image_tag resource.image %>
  </div>

  <ol class='attributes_list'>
    <li>
      <p class='attributes_list_attr_name'>Author</p>
      <p class='attributes_list_attr_value'><%= resource.author.name %></p>
    </li>
    <li>
      <p class='attributes_list_attr_name'>Title</p>
      <p class='attributes_list_attr_value'><%= resource.title %></p>
    </li>
    <li>
      <p class='attributes_list_attr_name'>Synopsis</p>
      <p class='attributes_list_attr_value'><%= resource.synopsis %></p>
    </li>
    <li>
      <p class='attributes_list_attr_name'>Publisher</p>
      <p class='attributes_list_attr_value'><%= resource.publisher %></p>
    </li>
    <li>
      <p class='attributes_list_attr_name'>Publishing year</p>
      <p class='attributes_list_attr_value'><%= resource.publishing_year %></p>
    </li>
    <li>
      <p class='attributes_list_attr_name'>ISBN</p>
      <p class='attributes_list_attr_value'><%= resource.isbn %></p>
    </li>
  </ol>
</div>
