<div class='panel'>
  <ol class='attributes_list'>
    <li>
      <p class='attributes_list_attr_name'>Name</p>
      <p class='attributes_list_attr_value'><%= resource.name %></p>
    </li>
    <li>
      <p class='attributes_list_attr_name'>Email</p>
      <p class='attributes_list_attr_value'><%= resource.email %></p>
    </li>
    <li>
      <p class='attributes_list_attr_name'>Local authority</p>
      <p class='attributes_list_attr_value'><%= resource.local_authority %></p>
    </li>
    <li>
      <p class='attributes_list_attr_name'>Age groups</p>
      <p class='attributes_list_attr_value'><%= resource.age_groups %></p>
    </li>
    <li>
      <p class='attributes_list_attr_name'>LL funded</p>
      <p class='attributes_list_attr_value'><%= resource.ll_funded %></p>
    </li>
    <li>
      <p class='attributes_list_attr_name'>Braw network</p>
      <p class='attributes_list_attr_value'><%= resource.braw_network %></p>
    </li>
    <li>
      <p class='attributes_list_attr_name'>Author type</p>
      <p class='attributes_list_attr_value'><%= resource.author_type %></p>
    </li>
    <li>
      <p class='attributes_list_attr_name'>Languages</p>
      <p class='attributes_list_attr_value'><%= resource.languages %></p>
    </li>
    <li>
      <p class='attributes_list_attr_name'>Bio</p>
      <p class='attributes_list_attr_value'><%= resource.bio %></p>
    </li>
    <li>
      <p class='attributes_list_attr_name'>Photo</p>
      <p class='attributes_list_attr_value'><%= resource.photo %></p>
    </li>
  </ol>
</div>

